@media only screen and (max-width:580px) {
    .dropDown{
        .dropDown-btn{  
            padding: 14px 24px;
            p{
                font-size: 12px;
            }
            .dropDown-img{
            }
            .rotate-img{
            }
            svg{

            }
        }
        .dropDown-content{
            p{
                font-size: 12px;
            }
        }
    }
}